<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>MANABA</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="static/plugins/bootstrap/css/bootstrap.min.css"/>

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="static/plugins/bootstrap/css/bootstrap-theme.min.css"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="static/plugins/jquery/jquery-2.2.3.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>

    <style>
        body {
            padding-top: 20px;
            font-size: 16px;
        }
        h1 {
            font-family: "Abel", Arial, sans-serif;
            font-weight: 400;
            font-size: 40px;
        }
        .margin-base-vertical {
            margin: 40px 0;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="margin-base-vertical">Have you ever seen the rain?</h1>
                <p>
                    Someone told me long ago there's a calm before the storm. I know, It's been comin for some time.
                </p>
                <p>
                    When it's over, so they say, it'll rain a sunny day. I know, Shinin down like water.
                </p>
                <p>
                    I want to know, have you ever seen the rain?
                </p>
                <form class="margin-base-vertical">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            <input name="email" type="text" class="form-control" id="email" placeholder="user@email.com"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input name="password" type="text" class="form-control" id="password" placeholder="password"/>
                        </div>
                    </div>
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary" id="buttonLogin">登录</button>
                        <button class="btn btn-default">返回</button>
                        &nbsp;<a href="#"><small>忘记密码?</small></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#buttonLogin').click(function () {
                console.log('login submit');
                var username=$('#email').val();
                var password=$('#password').val();

                $.ajax({
                    type: 'POST',
                    url: '/loginPost' ,
                    data: {
                        username:username,
                        password:password
                    },
                    success: function(data){
                        console.log("success!");
                    },
                    dataType:'json'
                });
            });
        });
    </script>
</body>
</html>